.msg-card{
  padding: 20rpx;
  margin: 0 20rpx;
  border-bottom: 2rpx solid #ccc;
  .title{
    font-size:32rpx;
    line-height:50rpx;
    overflow:auto;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
  .date{
    font-size:26rpx;
    line-height:40rpx;
    color:#999999;
  }
}