.card-header{
  padding: 20rpx;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  .card-header-title{
    font-size: 32rpx;
    font-weight: bold;
  }

  .card-header-subtitle{
    color:#999;
  }
}